.profile {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 25px;
  overflow: hidden;
}

.description {
  height: 300px;
}

.avatar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.name {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-top: 25px;
}

.tag {
  font-size: 20px;
  text-align: center;
  opacity: 0.7;
  margin-top: 15px;
}

.location {
  font-size: 20px;
  text-align: center;
  opacity: 0.7;
  margin-top: 15px;
}

.stats {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f6f9;
  border: 1px solid #e8ecf2;
}

.label {
  font-size: 18px;
  opacity: 0.7;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
